// this is a file that define default sass

// Firefox default scrollbar
*
  scrollbar-width: thin

// popper 的阴影太高了
.popper
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1)


.v-menu__content
  background: transparent !important
  box-shadow: none !important
// popper 动画
//.v-main
//  .fade-enter-active, .fade-leave-active
//    transition: opacity .6s
//
//  .fade-enter, .fade-leave-to
//    opacity: 0
.operational-button
  //background: #fff
  //min-width: 150px
  //border-radius: 4px
  //border: 1px solid #ebeef5
  //padding: 8px
  //z-index: 2000
  //color: #606266
  //line-height: 1.4
  //text-align: justify
  //font-size: 14px
  //box-shadow: 0 2px 12px 0 rgba(0,0,0,.1)
  //word-break: break-all
  .v-menu__content
    overflow: visible
    box-shadow: none